body {
  background-color: rgb(247, 247, 247);
}
body::-webkit-scrollbar {
  display: none;
}
.table {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.board {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.topList {
  display: flex;
  align-items: center;
  gap: 3px;
}
.overview {
  display: flex;
  align-items: center;
  gap: 3px;
}
.list {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  width: 288px;
  gap: 10px;
  margin-top: 4px;
}
.inputContentContainer button {
  margin-right: 5px;
  margin-top: 5px;
}
.remove {
  display: none;
}
.remove.visible {
  display: inline;
  margin: 3px;
  border: none;
  color: rgb(255, 89, 89);
  background-color: rgb(221, 221, 221);
  border-radius: 6px;
  height: 18px;
  width: 20px;
}
.remove.visible:hover {
  background-color: rgb(255, 224, 224);
  transition: 0.3s;
}
.remove.visible:active {
  background-color: #ff8b8b;
}
.removeListContent {
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgb(104, 104, 104);
}
.removeListContent:hover {
  background-color: rgb(226, 226, 226);
  color: rgb(255, 108, 108);
  transition: 0.1s;
}
.removeListContent:active {
  background-color: rgb(214, 214, 214);
  color: rgb(255, 40, 40);
}
.listContentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 14px;
}
.addListContent {
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgb(104, 104, 104);
}
.addListContent:hover {
  background-color: rgb(226, 226, 226);
}
.addListContent:active {
  background-color: rgb(214, 214, 214);
}
.complete {
  border-radius: 50px;
  border: 1px solid rgb(182, 182, 182);
  height: 16px;
  width: 16px;
}
.complete:hover {
  background-color: rgb(204, 204, 204);
}
.complete:active {
  background-color: rgb(165, 165, 165);
}
.complete.completed {
  background-color: oklch(82.8% 0.111 230.318);
  text-align: center;
}
.listContent {
  display: flex;
  margin-left: 10px;
  gap: 10px;
  margin-top: 0;
}
.content {
  background-color: rgb(255, 255, 255);
  border: none;
  border-bottom: 1px solid black;
  width: 240px;
}
.content.completed {
  opacity: 0.6;
}
.content:hover {
  background-color: rgb(236, 236, 236);
  transition: 0.2s;
}
.listTitle {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin-left: 4px;
  margin-top: 4px;
  height: 19px;
  width: 254px;
}
.listTitle:hover {
  background-color: rgb(233, 233, 233);
  transition: 0.2s;
}
.deleteCard:hover {
  color: rgb(255, 54, 54);
  transition: 0.3s;
}
.optionsContainer {
  position: relative;
}
.popUp {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  width: 230px;
  height: 150px;
  gap: 2px;
  align-items: center;
  justify-content: center;
}
.popUp.visible {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  width: 230px;
  height: 150px;
  gap: 2px;
  align-items: center;
  justify-content: center;
}
.popUp button {
  background-color: white;
  border: none;
  border-radius: 7px;
  width: 210px;
  height: 22px;
  text-align: left;
  color: rgb(0, 0, 0);
}
.popUp button:hover {
  background-color: rgb(226, 226, 226);
  transition: 0.3s;
}
.popUp button:active {
  background-color: rgb(201, 201, 201);
}
.pageTop {
  display: flex;
}
.userWorkSpace {
  display: flex;
  border: 1px solid rgb(226, 226, 226);
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
.userWorkSpace:hover {
  background-color: rgb(224, 224, 224);
}
.userWorkSpace:active {
  background-color: rgb(180, 180, 180);
}
.userName {
  width: 180px;
  margin-right: 47%;
}
.userImg {
  margin-right: auto;
}
.searchBarrAll {
  display: flex;
  background-color: white;
  width: 300px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  align-items: center;
}
.lupa {
  margin-left: 36%;
  height: 16px;
}
.lupa:hover {
  opacity: 0.3;
  transition: 0.2s;
}
.searchBarr {
  border: none;
}
.setaExpandir {
  margin-left: 0;
  height: 15px;
}
.spaceWork {
  border: 1px solid rgb(231, 231, 231);
  padding-left: 10px;
  padding-top: 10px;
}
.spaceWorkTop {
  display: flex;
  border: 1px solid rgb(221, 221, 221);
  flex-direction: column;
  gap: 5px;
  height: 70px;
  padding-left: 10px;
  padding-top: 10px;
}
.spaceWorkTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border: 1px solid rgb(231, 231, 231);
  height: 25px;
  width: 106px;
  background-color: white;
  border-radius: 10px;
}
.spaceWorkTitle:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.3s;
}
.spaceWorkTitle:active {
  background-color: rgb(204, 204, 204);
}
.canal {
  display: flex;
  gap: 5px;
}
.canal button {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  height: 25px;
  background-color: white;
  color: rgb(12, 12, 12);
}
.canal button:hover {
  background-color: rgb(224, 224, 224);
  transition: 0.3s;
}
.canal button:active {
  background-color: rgb(189, 189, 189);
}
.addCardAndFilters {
  display: flex;
  height: 46px;
  padding: 0;
  margin: 0;
}
.addCardAndFilters > * {
  margin: 6px;
}
.addCard {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  height: 30px;
  min-width: 70px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-left: auto;
}
.addCard:hover {
  background-color: rgb(228, 228, 228);
  color: black;
  transition: 0.4s;
}
.addCard:active {
  background-color: white;
}
.filtersContainer {
  display: flex;
  align-items: center;
  gap: 1px;
  border: 1px solid rgb(212, 212, 212);
  background-color: white;
  height: 30px;
  width: 64px;
  border-radius: 10px;
  color: rgb(17, 17, 17);
}
.filtersContainer:hover {
  background-color: rgb(228, 228, 228);
  transition: 0.3s;
}
.filtersContainer:active {
  background-color: rgb(192, 192, 192);
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  min-height: 586px;
  max-height: 586px;
  overflow-y: scroll;
  border-top: 1px solid rgb(209, 209, 209);
}
.cardContainer::-webkit-scrollbar {
  display: none;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  border: 0.1px solid rgb(216, 216, 216);
  border-radius: 10px;
  gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
}
.card:hover {
  border: 1px solid rgb(202, 202, 202);
}
.cardTop {
  display: flex;
  width: 100%;
}
.cardContentElement {
  display: flex;
  flex-direction: column;
  width: 290px;
  border-top: 1px solid rgb(199, 199, 199);

  min-height: 260px;
  max-height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
}
.cardContentElement::-webkit-scrollbar {
  display: none;
}
.noteContainer {
  display: flex;
  resize: none;
  overflow: hidden;
  border: 1px solid rgb(223, 223, 223);
  max-height: 288px;
  min-height: 20px;
  width: 288px;
  border-radius: 4px;
  outline: 1px solid rgb(230, 230, 230);
  flex-shrink: 0;
  margin-top: 4px;
}
.note {
  resize: none;
  overflow: hidden;
  border: none;
  max-height: 250px;
  min-height: 20px;
  width: 288px;
  border-radius: 4px;
  outline: none;
}
.options {
  margin-right: auto;
  border: none;
  background-color: white;
  border-radius: 4px;
  height: 20px;
  width: 22px;
}
.options:hover {
  background-color: rgb(231, 231, 231);
  transition: 0.3s;
}
.options:active {
  background-color: rgb(177, 177, 177);
}
.title {
  border: none;
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 267px;
}
input {
  outline: none;
}

@media screen and (max-width: 590px) {
  .pageTop {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 477px) {
  .canal {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .spaceWorkTop {
    display: flex;
    border: 1px solid rgb(221, 221, 221);
    flex-direction: column;
    gap: 5px;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    min-height: 586px;
    max-height: 586px;
    overflow-y: scroll;
    border-top: 1px solid rgb(209, 209, 209);
  }
  .addCard {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    height: 30px;
    min-width: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 0;
  }
  .card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    border: 0.1px solid rgb(216, 216, 216);
    border-radius: 10px;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
  }
}
