.spaceWorkTop {
  display: flex;
  border: 1px solid rgb(221, 221, 221);
  flex-direction: column;
  gap: 5px;
  height: 70px;
  padding-left: 10px;
  padding-top: 10px;
}

.spaceWorkTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border: 1px solid rgb(231, 231, 231);
  height: 25px;
  width: 130px;
  background-color: white;
  border-radius: 10px;
}

.spaceWorkTitle:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.3s;
}

.spaceWorkTitle:active {
  background-color: rgb(204, 204, 204);
}

.canal {
  display: flex;
  gap: 5px;
}

.canal button {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  height: 25px;
  background-color: white;
  color: rgb(12, 12, 12);
}

.canal button:hover {
  background-color: rgb(224, 224, 224);
  transition: 0.3s;
}

.canal button:active {
  background-color: rgb(189, 189, 189);
}

.addCardAndFilters {
  display: flex;
  height: 46px;
  padding: 0;
  margin: 0;
}

.addCardAndFilters > * {
  margin: 6px;
}
