.spaceWork {
  border: 1px solid rgb(231, 231, 231);
  padding-left: 10px;
  padding-top: 10px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  min-height: 586px;
  max-height: 586px;
  overflow-y: scroll;
  border-top: 1px solid rgb(209, 209, 209);
}

.cardContainer::-webkit-scrollbar {
  display: none;
}
