.navbar {
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #040d2c;
  border-bottom-right-radius: 30px;
  transition: width 0.2s ease;
}

/* .navbar:hover {
  width: 50px;
  flex-shrink: 0;
  background-color: rgb(14, 14, 14);
  border-radius: 10px;
  margin-top: 5px;
} */

/* TACIcon */
.TACIcon {
  margin-left: 10px;
  margin-top: 10px;
}
/* open sidebar button ============================== */
.openSidebar {
  border: none;
  border-radius: 10px;
  background-color: rgb(70, 3, 255);
  color: white;
  height: 44px;
  width: 140px;
  margin: 10px;
  transition: transform 0.4s ease;
  margin-top: 30px;
  align-self: center;
}
.openSidebar:hover {
  transform: scale(1.1);
}
.openSidebar:active {
  opacity: 0.7;
}
.openSidebar.actived {
  border: none;
  border-radius: 10px;
  width: 30px;
  background-color: rgb(70, 3, 255);
  color: rgb(255, 230, 0);
  height: 44px;
  width: 140px;
  margin: 10px;
  transition: transform 0.4s ease;
  margin-top: 30px;
  align-self: center;
}

/* sidebar =================== */

.sidebar {
  width: 0;
  display: flex;
  transition: all 0.4s ease-in-out;
  color: transparent;
}
.sidebar.visible {
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: rgb(238, 238, 238);
  transition: width 0.2s ease;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

/* open start button */

.startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: white;
  height: 30px;
  width: 30px;
  margin: 10px;
  gap: 10px;
  transition: transform 0.4s ease;
  margin-left: 70px;
}
.startButton:hover {
  transform: scale(1.1);
}
.startButton:active {
  opacity: 0.7;
  transform: scaleY(1.1);
}
/* open planner button */

.plannerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: white;
  height: 30px;
  width: 30px;
  margin: 10px;
  gap: 10px;
  transition: transform 0.4s ease;
  margin-left: 70px;
}
.plannerButton:hover {
  transform: scale(1.1);
}
.plannerButton:active {
  opacity: 0.7;
}
.plannerButton.actived {
  border: 2px solid rgb(160, 160, 160);
  border-radius: 5px;
  background-color: transparent;
  color: rgb(255, 230, 0);
  height: 30px;
  width: 30px;
  margin: 10px;
  transition: transform 0.4s ease;
}
